.error404Page{
    margin-top: 50px;
    text-align: center;
}
.error404Page img{
    width: 50%;
}
.errorWords{
    text-align: center;
}
.errorWords_display{
    font-size: 18px;
    font-family: 华文仿宋;
}
.error403Page{
    margin-top: 50px;
    text-align: center;
}
.error403Page img{
    width: 50%;
}